In [4]:
#import libraries
import pandas as pd
import sqlite3
import openpyxl

In [5]:
# create database and import .csv file to create dataframe 
db = sqlite3.connect('sample.db')
dfs = pd.read_csv('/Users/marjilarahmaty/Desktop/CB_file/Project_5/Sample-Superstore.csv',sep=',', encoding='windows-1252')

dfs.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [6]:
# add new column named price to dfs dataframe 
dfs['price'] = dfs['Sales']/dfs['Quantity']
dfs.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,price
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,130.98
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,243.98

In [7]:
# checking for number of columns and rows 
dfs.shape

(9994, 22)

In [8]:
#for table, df in dfs.items():
 #   df.to_sql(table, db, index=True)
#db.commit()
#db.close()

In [9]:

# checking for all information about columns 
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  price          9994 non-null   float64
dtypes: float64(4), int64(3), object(15)
memory usage: 1.7+ MB

In [10]:
# checking for null values
dfs.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
price            0
dtype: int64

In [11]:
# checking for duplicate and also replace white space with underscore 
dfs.duplicated().sum()
dfs.columns = dfs.columns.str.replace(' ','_')

In [12]:
# inserting two new columns named address_id and ship_id 
dfs.insert(0, 'add_id', range(1, 1 + len(dfs)))
dfs.insert(1,'ship_id',range(1,1+ len(dfs)))

In [13]:
# dividing one column in two different columns 
dfs[['First_N','Last_N']] = dfs.Customer_Name.str.split(" ",expand=True,n = 1)
dfs.drop(columns= 'Customer_Name', inplace= True )

In [14]:
# returns only one row from dataframe dfs
dfs.head(1)

,add_id,ship_id,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Segment,Country,...,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit,price,First_N,Last_N
0,1,1,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Consumer,United States,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,130.98,Claire,Gute

In [16]:
# creating 6 different dataframe from dfs  
product = dfs[['Product_ID', 'Product_Name', 'Category', 'Sub-Category']]

shipment = dfs[['ship_id', 'Ship_Date', 'Ship_Mode', 'Order_ID']]

order = dfs[['Order_ID', 'Order_Date', 'Customer_ID']]

customer = dfs[['Customer_ID', 'First_N', 'Last_N', 'Segment']]

order_d = dfs[['Product_ID', 'Product_Name', 'Order_ID', 'Discount', 'Quantity', 'price', 'Profit', 'Sales']]

c_location = dfs[['add_id', 'Country', 'City', 'Region', 'Postal_Code', 'State', 'Order_ID']]

In [17]:
# Product 
product.isna().sum()
product.duplicated().sum()
product = product.drop_duplicates()
#product = product.drop(columns='price')
product.shape

(1894, 4)

In [18]:
# shipment
shipment.isna().sum()
shipment.duplicated().sum()
shipment = shipment.drop_duplicates()
shipment.shape

(9994, 4)

In [19]:
#order
order.isna().sum()
order.duplicated()
order.shape

(9994, 3)

In [20]:
#Customer
customer.isna().sum()
customer.duplicated().sum()
customer = customer.drop_duplicates()
customer.shape

(793, 4)

In [ ]:
# order details
order_d.isna().sum()
order_d.duplicated().sum()
order_d = shipment.drop_duplicates()
order_d.shape

In [ ]:
#customer_location
c_location.isna().sum()
c_location.duplicated().sum()
c_location = c_location.drop_duplicates()
c_location.shape

In [21]:
#customer.columns = customer.columns.str.replace(' ','_')
#order.columns = order.columns.str.replace(' ','_')
#product.columns = product.columns.str.replace(' ','_')
#sale.columns = sale.columns.str.replace(' ','_')
#shipment.columns = shipment.columns.str.replace(' ','_')
#c_location.columns = c_location.columns.str.replace(' ','_')

In [22]:
# splite customer name and last name 
#customer[['First_N','Last_N']] = customer.Customer_Name.str.split(" ",expand=True,n = 1)
#customer.drop(columns= 'Customer_Name', inplace= True )

In [26]:
order['Order_ID'].isna().sum()

0

In [27]:
#sale
#order_d.isna().sum()
#order_d.duplicated().sum()
#order_d = order_d.drop_duplicates()
#order_d.shape

(9993, 8)

In [ ]:
order.duplicated().sum()
order = order.drop_duplicates()
order.info()

In [ ]:
#populating database
# product 
product.to_sql('product', db, if_exists='append', index=False)

In [ ]:
#populating database
# shipment 
shipment.to_sql('shipment',db,if_exists='append',index=False)

In [ ]:
#populating database
# shipment 
customer.to_sql('customer',db,if_exists= 'append', index=False)

793

In [ ]:
#populating database
# customer location
c_location.to_sql('c_location',db,if_exists='append', index=False)

9994

In [39]:
#populating database
# order_T
order.to_sql('order_t',db, if_exists= 'append',index = False)

5009

In [42]:
#populating database
# order_d
order_d.to_sql('order_d',db, if_exists='append', index=False)

9993